

h2{
   font-family:'Roboto', sans-serif;
   text-align:center;	
}

p {
	font-family:'Noto Sans'; sans-serif;
	text-align: center;
	font-weight: 800;

}

li{
	font-family: 'Sen'; sans-serif;
	font-weight: 400;
}